.iam-container{
    
    justify-content: center;
    align-items: center;
    display: grid;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.blurb{
    color: #284b63;
    z-index: 1;
}

.title{
    color: #153243;
    margin: 0;
    z-index: 1;
}

.longer-blurb{
    font-size: 1rem;
    font-weight: 300;
    color: #284b63;
    z-index: 1;
    transition: 0.5s;
    padding-left: 30px;
    
}
.illustration-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
}
.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #5b0eeb;
    width: 15vmax;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    z-index: 0;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, 20vh); }
    38%  { transform: scale(0.8, 1) translate(10vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(10vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 25vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 25vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, 20vh); }
  }

@media  (max-width:400px) {
    .iam-container{
        justify-content: center;
        align-items: center;
    }
    .illustration-section{
        flex-direction: column;
    }
    .longer-blurb{
    padding-left: 0;
    }
}